.grid {
  gap: 15px;
  width: 100%;
  display: grid;
  margin: 100px auto;
  max-width: 800px;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 5px;
  position: relative;
  /* background-color: aqua; */
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  border: 2px solid #39813A;
  background-position: center;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url(../img/back.svg);
  backface-visibility: hidden;
}

.card:hover {
  transform: rotateY(180deg);
}