main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-size: auto;
  flex-direction: column;
  padding: 20px 20px 50px;
  justify-content: center;
  background-image: url(../img/wallpaper.svg);
}

header {
  width: 100%;
  padding: 25px;
  display: flex;
  margin: 30px 0;
  max-width: 800px;
  font-size: 1.2em;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.8);
}

.grid {
  gap: 15px;
  width: 100%;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 5px;
  background-color: #ccc;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  transition: all 400ms ease;
  border: 2px solid #39813A;
  background-position: center;
}

.front {
  transform: rotateY(180deg);
}

.back {
  backface-visibility: hidden;
  background-image: url(../img/back.svg);
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  opacity: 0.5;
  filter: saturate(0);
}